:root {
  --black: #000;
  --white: #fff;
  --dark-violet: #7943A4;
  --bright-violet: #C283F3;
  --violet: #9D5CD0;

}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSansBold.eot');
	src: local('Open Sans Bold'), local('OpenSansBold'),
    	url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSansItalic.eot');
	src: local('Open Sans Italic'), local('OpenSansItalic'),
    	url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSansRegular.eot');
	src: local('Open Sans Regular'), local('OpenSansRegular'),
    	url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSansRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/OpenSansSemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSansSemiBold'),
    	url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSansSemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: calc(1630/1920 * 100%);
}

.simplebar-content-wrapper {
  overflow: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* header */

.header {
  position: relative;
}

.header__container {
  display: flex;
  padding: 0 15px;
  align-items: center;
  justify-content: space-between;
}

/* header-top */
.header-top {
  padding: 30px 0 27px;
  position: relative;
  background-color: var(--black);
  z-index: 4;
}

.header__logo {
  flex: 0 0 calc(250/1630 * 100%);
  transition: transform .3s ease-in-out;
}

.header__nav {
  flex: 0 0 calc(1090/1630 * 100%);
  padding-right: calc(175/1630 * 100%);
}

.right-menu {
  display: flex;
  width: inherit;
}

.nav-list {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}

.header__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  transition: color .2s ease-in-out;
}

.header__link-button {
  margin-bottom: 5px;
  padding: 0 0 0px 20px;
  background: url(/img/header/back.svg) left 4px no-repeat;
  background-size: 13px 13px;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  transition: color .2s ease-in-out, background-image .2s ease-in-out;
}

.header__link-button_burger {
  display: none;
}

.header__search-button {
  display: none;
  padding: 0 0;
  border: 0;
  background-color: inherit;
}

.header__burger {
  display: none;
  transition: transform .3s ease-in-out;
}

.header__link:focus-visible,
.header__link-button:focus-visible {
  outline: 5px solid var(--dark-violet);
  outline-offset: -1px;
  background-color: var(--dark-violet);
}

.header__link:hover,
.header__link-button:hover {
  color: var(--bright-violet);
}

.header__link-button:hover {
  background: url(/img/header/back_bright_purple.svg) left 4px no-repeat;
}

.header__link:active,
.header__link-button:active {
  color: var(--dark-violet);
}

.header__link-button:active {
  background: url(/img/header/back_dark_purple.svg);
}

.header__link-button:active {
  background: url(/img/header/back_dark_purple.svg) left 4px no-repeat;
}

.header__search-form {
  display: none;
}

/* header-bottom */

.header-bottom {
  position: absolute;
  padding: 24px 0 23px;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.header__container_flex {
  display: flex;
  justify-content: space-between;
}

.search-list {
  display: flex;
  width: 64.7%;
  justify-content: space-between;
  align-items: center;
}

.search-item {
  position: relative;
}

.search-item__button {
  position: relative;
  padding: 0 15px 0 0;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  transition: color .2s ease-in-out, background-image .2s ease-in-out;
}

.arrow-bottom {
  position: absolute;
  right: 0;
  top: 4px;
  transition: all .2s ease-in-out;
}

.arrow-bottom-path {
  transition: stroke .2s ease-in-out;
}

.search-item__active .arrow-bottom-path_active {
  stroke: var(--dark-violet);
}

.search-item__active .search-item__button_is-active {
  color: var(--dark-violet);
}

.search-item__active .arrow-bottom_rotate {
  transform: rotate(180deg);
  top: 7px;
}

.top-bar__select {
  margin-right: 97px;
}

.search-item__dropdown {
  display: none;
  padding: 30px 20px 10px 30px;
  position: absolute;
  top: 44px;
  left: 0;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
}

.search-item__active .search-item__dropdown_is-active {
  display: block;
}

.dropdown__link {
  display: inline-block;
  padding: 11px 0 13px 14px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--white);
  transition: box-shadow .3s ease-in-out;
}

.dropdown__list {
  padding: 10px 20px 10px 10px;
  height: 240px;
}

.simplebar-track.simplebar-vertical {
  background-color: var(--black);
  width: 6px;
  top: 8px;
  bottom: 10px;
}

.simplebar-scrollbar::before {
  background-color: var(--white);
  border-radius: 0;
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.dropdown__link_tinto {
  background-image: url(/img/header/realism/tinto.jpg);
}

.dropdown__link_frid {
  background-image: url(/img/header/realism/frid.jpg);
}

.dropdown__link_leo {
  background-image: url(/img/header/realism/tinto.jpg);
}

.dropdown__link_verok {
  background-image: url(/img/header/realism/veroko.jpg);
}

.dropdown__link_mone {
  background-image: url(/img/header/impres/mone.jpg);
}

.dropdown__link_sislei {
  background-image: url(/img/header/impres/sislei.jpg);
}

.dropdown__link_mane {
  background-image: url(/img/header/impres/mane.jpg);
}

.dropdown__link_renu {
  background-image: url(/img/header/impres/renu.jpg);
}

.dropdown__link_van {
  background-image: url(/img/header/postimpres/van.jpg);
}

.dropdown__link_sez {
  background-image: url(/img/header/postimpres/sez.jpg);
}

.dropdown__link_gog {
  background-image: url(/img/header/postimpres/gog.jpg);
}

.dropdown__link_ser {
  background-image: url(/img/header/postimpres/ser.jpg);
}

.dropdown__link_kand {
  background-image: url(/img/header/avan/kand.jpg);
}

.dropdown__link_mar {
  background-image: url(/img/header/avan/mar.jpg);
}

.dropdown__link_mal {
  background-image: url(/img/header/avan/mal.jpg);
}

.dropdown__link_pik {
  background-image: url(/img/header/avan/pik.jpg);
}

.dropdown__link_kar {
  background-image: url(/img/header/futur/kar.jpg);
}

.dropdown__link_prat {
  background-image: url(/img/header/futur/prat.jpg);
}

.dropdown__link_sev {
  background-image: url(/img/header/futur/sev.jpg);
}

.dropdown__link_bal {
  background-image: url(/img/header/futur/bal.jpg);
}

.search-form {
  display: inline-block;
  width: 251px;
}

.content__search-button {
  margin-right: 13px;
  background: none;
  background-image: url(/img/header/Search.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
  border: none;
}

.search-form__content {
  display: flex;
  align-items: flex-end;
}

.search-form__input {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 0 0 4px 0;
  border: none;
  border-bottom: 1px solid var(--white);
  outline: none;
  background: inherit;
  color: var(--white);
  transition: border-color .3s ease-in-out;
}

.search-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}

.search-form__input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Убираем крестик из поля "Поиск по сайту" */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search-item__button:hover {
  color: var(--violet);
}

.search-item__button:hover .arrow-bottom-path {
  stroke: var(--violet);
}

.search-item__button:focus-visible {
  outline: 5px solid var(--dark-violet);
  background-color: var(--dark-violet);
}

.search-item__active .search-item__button:focus-visible {
  outline: none;
  background-color: inherit;
  color: var(--dark-violet);
}

.search-form__input:hover {
  border-color: var(--bright-violet);
}

.search-form__input:focus-visible {
  border-color: var(--dark-violet);
}

.dropdown__link:hover {
  box-shadow: 0 0 0 3px var(--violet);
}

.dropdown__link:focus-visible {
  outline: 2px solid var(--violet);
  outline-offset: -1px;
}

.dropdown__link_tinto:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/realism/tinto.jpg);
}

.dropdown__link_frid:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/realism/frid.jpg);
}

.dropdown__link_leo:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/realism/tinto.jpg);
}

.dropdown__link_verok:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/realism/veroko.jpg);
}

.dropdown__link_mone:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/impres/mone.jpg);
}

.dropdown__link_sislei:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/impres/sislei.jpg);
}

.dropdown__link_mane:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/impres/mane.jpg);
}

.dropdown__link_renu:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/impres/renu.jpg);
}

.dropdown__link_van:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/postimpres/van.jpg);
}

.dropdown__link_sez:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/postimpres/sez.jpg);
}

.dropdown__link_gog:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/postimpres/gog.jpg);
}

.dropdown__link_ser:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/postimpres/ser.jpg);
}

.dropdown__link_kand:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/avan/kand.jpg);
}

.dropdown__link_mar:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/avan/mar.jpg);
}

.dropdown__link_mal:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/avan/mal.jpg);
}

.dropdown__link_pik:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/avan/pik.jpg);
}

.dropdown__link_kar:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/futur/kar.jpg);
}

.dropdown__link_prat:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/futur/prat.jpg);
}

.dropdown__link_sev:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/futur/sev.jpg);
}

.dropdown__link_bal:active {
  background-image: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(/img/header/futur/bal.jpg);
}

/* hero */

.hero {
  overflow: hidden;
}

.hero__container {
  padding: 0 15px;
  max-width: calc(1630/1920 * 100%);
}

.hero__content {
  padding: 141px 0 123px;
}

.swiper-container {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

@keyframes swiper-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);

  }
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide-active {
  animation: swiper-scale alternate 4s ease-in-out infinite;
}

.swiper-slide_first {
  background-image: url(/img/hero/1_1920.jpg);
}

.swiper-slide_second {
  background-image: url(/img/hero/2_1920.jpg);
}

.swiper-slide_third {
  background-image: url(/img/hero/3_1920.jpg);
}

.heading {
  margin: 0 0;
}

.content__heading {
  position: relative;
  margin: 0 0 20px 0;
  max-width: 597px;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
  color: var(--white);
  z-index: 3;
}

.text {
  margin: 0 0;
}

.content__text {
  position: relative;
  margin-bottom: 94px;
  max-width: 579px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
  z-index: 3;
}

.content__link-button {
  display: inline-block;
  position: relative;
  padding: 24px 35px;
  border-radius: 100px;
  background-color: var(--violet);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  z-index: 3;
  transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out;
}

.content__link-button:focus-visible {
  outline: none;
}

.content__link-button:focus-visible::before {
  content: "" ;
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  border: solid var(--bright-violet);
  border-radius: inherit;
}

.content__link-button:hover {
  box-shadow: 0 0 0 3px #D1A9F0;
}

.content__link-button:active {
  background-color: var(--dark-violet);
}

/* about */

.section-about {
  padding: 84px 0 80px;
}

.about__container {
  padding: 0 15px;
}

.about__heading {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 48px;
  color: #333333;
}

.about__text {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@media (max-width: 1200px) {

  .container {
    max-width: calc(944/1024 * 100%);
  }

  /* header  */

  .header {
    padding: 0 0;
  }

  .header-top {
    padding: 30px 0 25px;
    z-index: 4;
  }

  .header__container {
    padding: 0 10px;
    justify-content: space-between;
  }

  .header-bottom {
    display: none;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 28px;
    z-index: 5;
  }

  .burger__mid-lane {
    position: absolute;
    top: 12.17px;
    width: 28.2px;
    height: 3.65px;
    background-color: var(--white);
    transition: transform .3s ease-in-out;
  }

  .header__burger::before,
  .header__burger::after {
     content: '';
     position: absolute;
     left: 0;
     height: 3.65px;
     background-color: var(--white);
     transition: all .3s ease-in-out;
  }

  .header__burger::before {
    top: 0;
    width: 36px;
  }

  .header__burger::after {
    bottom: 0;
    width: 24px;
  }

  .header__burger_active::before {
    width: 37px;
    transform: rotate(45deg);
    top: 11px;
  }

  .header__burger_active::after {
    width: 37px;
    transform: rotate(-45deg);
    bottom: 12px;
  }

  .header__burger_active .burger__mid-lane {
    transform: scale(0);
  }

  .header__logo {
    margin-right: 7px;
    flex: 0 0 187px;
  }

  .header__nav {
    position: absolute;
    padding: 120px 0 47px;
    flex-direction: column;
    top: -1000%;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top .3s ease-in-out;
    z-index: 4;
  }

  .nav-list {
    display: block;
    margin-bottom: 60px;
  }

  .nav__list-item {
    margin: 0 0 40px 50px;
  }

  .header__nav_active {
    top: 0;
  }

  .header__nav_active .nav-list {
    display: block;
  }

  .header__link {
    font-size: 24px;
  }

  .header__search-button {
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 0px;
    right: 220px;
    top: 7px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    z-index: 4;
  }

  .header__search-form_active .search__img {
    height: 0;
    overflow: hidden;
  }

  .header__search-form_active .header__search-button {
    width: 29.45px;
    height: 28.82px;
    opacity: 1;
  }

  .header__link-button {
    display: none;
  }

  .header__link-button_burger {
    display: inline-block;
    margin-left: 50px;
    padding: 19px 95px 19px 110px;
    background-position: 90px center;
    border-radius: 100px;
    border: 2px solid var(--violet);
    font-weight: 600;
    transition: top .3s ease-in-out;
    max-width: 257px;
    z-index: 1;
  }

  .header__search {
    display: block;
    position: relative;
    height: 36px;
    z-index: 5;
  }

  .search__img {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(/img/header/Search.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image .3s ease-in-out;
    z-index: 4;
  }

  .search-input {
    position: absolute;
    top: 0;
    right: 0;
    height: 36px;
    width: 0px;
    padding: 5px 5px 5px 5px;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    background: transparent;
    color: var(--white);
    opacity: 0;
    z-index: 4;
  }

  .header__search-form_active .search-input {
    opacity: 1;
    width: 218px;
  }

  /* hero */
  .hero__container {
    padding: 0 10px;
  }

  .hero__top-bar {
    display: none;
  }

  .hero__content {
    padding: 113px 0 115px;
  }

  .content__heading {
    margin: 0 0 13px 0;
  }

  .content__text {
    margin-top: 0;
    margin-bottom: 135px;
    max-width: 661px;
  }

  .swiper-slide_first {
    background-image: url(/img/hero/1_1024.jpg);
  }

  .swiper-slide_second {
    background-image: url(/img/hero/2_1024.jpg);
  }

  .swiper-slide_third {
    background-image: url(/img/hero/3_1024.jpg);
  }

  /* about */

.about__container {
  padding: 0 10px;
}

.about__text {
  max-width: 925px;
}

  @media (max-width: 800px) {

    .container {
      max-width: calc(688/768 * 100%);
    }

    /* header */

    .header__burger {
      height: 27px;
    }

    .burger__mid-lane {
      top: 12px;
      width: 28px;
      height: 3px;
    }

    .header__burger::before,
    .header__burger::after {
      height: 3px;
    }

    .header__logo {
      margin-right: 7px;
    }

    .search-button__img {
      width: 27px;
      height: 27px;
    }

    .swiper-slide_first {
      background-image: url(/img/hero/1_768.jpg);
    }

    .swiper-slide_second {
      background-image: url(/img/hero/2_768.jpg);
    }

    .swiper-slide_third {
      background-image: url(/img/hero/3_768.jpg);
    }

    .header__search-button {
      right: 636px;
      top: 4px;
    }

    .header__search {
      position: relative;
      height: 36px;
    }

    .search__img {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .header__search-form_active .search__img {
      height: 30px;
      background-image: none;
    }

    .header__search-form_active .search__img::after,
    .header__search-form_active .search__img::before {
      content: '';
      position: absolute;
      left: 0;
      height: 3.73px;
      width: 32px;
      background-color: var(--white);
      z-index: 4;
    }

    .header__search-form_active .search__img::after {
      bottom: 11px;
      transform: rotate(-45deg);
    }

    .header__search-form_active .search__img::before {
      top: 15px;
      transform: rotate(45deg);
    }

    .search-input {
      padding: 5px 5px 5px 5px;
      margin-right: 40px;
      width: 0px;
      z-index: 4;
    }

    .header__search-button {
      right: 83vw;
    }

    .header__search-form_active .search-input {
      width: 76vw;
    }

    .header__logo_search {
      transform: scale(0);
    }

    .header__burger_search {
      transform: scale(0);
    }

    /* about */

    .about__text {
      max-width: 666px;
    }

    @media (max-width: 650px) {

      .container {
        max-width: calc(596/676 * 100%);
      }

      /* header */

      .header__logo {
        margin-right: 7px;
        flex: 0 0 160px;
      }

      .header__container {
        padding: 0 5px;
      }

      .header__nav {
        padding: 120px 0 25px;
      }

      .nav__list-item {
        margin: 0 0 28px 50px;
      }

      .nav-list {
        margin-bottom: 0px;
      }

      .header__search-button {
        right: 80vw;
      }

      .header__search-form_active .search-input {
        width: 70vw;
      }

      /* hero */

      .hero__container {
        padding: 0 5px;
      }

      .hero__content {
        padding: 50px 0 60px;
      }

      .content__heading {
        margin-bottom: 30px;
        max-width: 440px;
        font-size: 46px;
        line-height: 50px;
      }

      .content__text {
        margin-bottom: 65px;
        max-width: 440px;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;
      }

      /* about */

      .section-about {
        padding: 55px 0 80px;
      }

      .about__container {
        padding: 0 5px;
      }

      .about__heading {
        font-size: 38px;
      }

      .about__text {
        max-width: 100%;
        line-height: 28px;
      }

      @media (max-width: 424px) {

        .container {
          max-width: calc(290/320 * 100%);
        }

        /* header */

        .header__container {
          padding: 0;
        }

        .header-top {
          padding: 11px 0 12px 0;
        }

        .header__logo {
          margin-right: 18px;
          margin-top: 1px;
          flex: 0 0 97px;
          width: 105px;
          height: 22px;
        }

        .header__burger {
          height: 18px;
        }

        .burger__mid-lane {
          top: 8px;
          width: 16px;
          height: 2px;
        }

        .header__burger::before,
        .header__burger::after {
          height: 2px;
        }

        .header__burger::before {
          width: 25px;
        }

        .header__burger::after {
          width: 10px;
        }

        .header__burger_active::before {
          width: 19px;
          transform: rotate(45deg);
          top: 8px;
        }

        .header__burger_active::after {
          width: 19px;
          transform: rotate(-45deg);
          bottom: 8px;
        }

        .search-button__img {
          width: 18px;
          height: 18px;
        }

        .header__nav {
          padding: 53px 0 16px;
        }

        .nav__list-item {
          margin: 0 0 13px 15px;
        }

        .header__link {
          font-weight: 600;
          font-size: 16px;
        }

        .nav-list {
          margin-bottom: 20px;
        }

        .header__link-button {
          margin-left: 15px;
          padding: 11px 25px 11px 45px;
          max-width: 115px;
          font-size: 12px;
          background-position: 25px center;
        }

        .header__search-form {
          height: 18px;
          z-index: 6;
        }

        .header-top_search::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: -30px;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.9);
          z-index: 5;
        }

        .search__img {
          height: 18px;
          width: 18px;
          background-size: contain;
        }

        .header__search-form_active .search__img::after,
        .header__search-form_active .search__img::before {
          height: 1.93px;
          width: 18px;
        }

        .header__search-form_active .search__img::after {
          bottom: 9px;
          transform: rotate(-45deg);
        }

        .header__search-form_active .search__img::before {
          top: 7px;
          transform: rotate(45deg);
        }

        .header__search-form_active .search__img {
          height: 18px;
          background-image: none;
        }

        .search-input {
          margin-right: 40px;
          top: 25px;
          height: 18px;
          width: 0;
        }

        .header__search-form_active .search-input {
          font-size: 12px;
          width: 58vw;
          border-bottom: 1px solid var(--white);
        }

        .header__search-button {
          right: 70vw;
          top: 20px;
        }

        .header__logo_search {
          transform: scale(1);
        }

        .header__burger_search {
          transform: scale(1);
        }

        /* hero */

        .hero__container {
          padding: 0;
        }

        .hero__content {
          display: flex;
          padding: 32px 0 46px;
          top: 0px;
          left: 0;
          right: 0;
          align-items: center;
          flex-direction: column;
          text-align: center;
        }

        .content__text {
          margin-bottom: 42px;
          max-width: 265px;
          font-weight: 400;
          font-style: normal;
          font-size: 12px;
          line-height: 16px;
        }

        .content__heading {
          padding-left: 2px;
          margin-bottom: 13px;
          max-width: 258px;
          font-size: 32px;
          line-height: 37px;
        }

        .content__link-button {
          padding: 11px 16.13px 14px 19.14px;
          font-size: 12px;
        }

        .swiper-slide_first {
          background-image: url(/img/hero/1_320.jpg);
        }

        .swiper-slide_second {
          background-image: url(/img/hero/2_320.jpg);
        }

        .swiper-slide_third {
          background-image: url(/img/hero/3_320.jpg);
        }

        /* about */

        .section-about {
          padding: 53px 0 50px;
        }

        .about__container {
          padding: 0;
        }

        .about__heading {
          margin-bottom: 15px;
          font-size: 28px;
        }

        .about__text {
          max-width: 291px;
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }

}

